<div class="row short-user-info">
        <div class="col-lg-4 info-item">
          <div class="content-wrapper">
            <span class="glyphicon glyphicon-question-sign"></span>
            <span class="header">
              <span class="counter"><strong>{{shortInfoData.data.groupsCount}}</strong></span>
              <span>Groups</span>
              <div>
                <p>6 new arrivals.</p>
              </div>
            </span>
          </div>
        </div>
        <div class="col-lg-4 info-item">
          <div class="content-wrapper">
            <span class="glyphicon glyphicon-lock"></span>
            <span class="header">
              <span class="counter"><strong>{{shortInfoData.data.usersCount}}</strong></span>
              <span>Users</span>
              <div>
                <p>38 open.</p>
              </div>
            </span>
          </div>
        </div>
        <div class="col-lg-4 info-item">
          <div class="content-wrapper">
            <span class="glyphicon glyphicon-question-sign"></span>
            <span class="header">
              <span class="counter"><strong>{{shortInfoData.data.salesCount}}</strong></span>
              <span>Sales</span>
              <div>
                <p>632 vips.</p>
              </div>
            </span>
          </div>
        </div>        
      </div>