 <layout>
  <loader style="overflow:hidden" *ngIf="!isComplete"></loader>
  <div class="col-lg-12 info-item" style="background-color: #fff">
    <div class="example-container mat-elevation-z8">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <div class="example-loading-shade"
       *ngIf="pagination.isLoadingResults || pagination.isRateLimitReached">
        <mat-spinner *ngIf="pagination.isLoadingResults"></mat-spinner>
        <div class="example-rate-limit-reached" *ngIf="pagination.isRateLimitReached">
          GitHub's API rate limit has been reached. It will be reset in one minute.
        </div>
      </div>
      <mat-table [dataSource]="pagination.dataSource" matSort>
        <ng-container matColumnDef="email"> 
          <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
          <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="hashedPassword">
          <mat-header-cell *matHeaderCellDef>Hashed password</mat-header-cell>
          <mat-cell *matCellDef="let user">{{user.hashedPassword}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="password">
          <mat-header-cell *matHeaderCellDef>Password</mat-header-cell>
          <mat-cell *matCellDef="let user">{{user.password}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let user">
            <button mat-raised-button (click)="edit()">Edit</button>
            <button mat-raised-button>Delete</button>
          </mat-cell>
        </ng-container> 
        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: pagination.columns"></mat-row>
      </mat-table>
      <mat-paginator #paginator
        [length]="pagination.dataCount"
        [pageSize]="2"
        [pageSizeOptions]="[5,10,20]"
        [showFirstLastButtons]="true"
        (page)="onPageChanged($event)">
      </mat-paginator>
    </div>
  </div>
 </layout>